body {
  background-color: #ffffff;
}

.logo {
  color: #000000;
}

.list {
  list-style: none;
}

/*  Site nav */
.site-nav a {
  color: #212121;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

/* Hero */
.hero-title {
  color: #ffffff;
}

/* Section */
.section-title {
  color: #212121;
}

/* Features */
.features list .title {
  color: #212121;
}

.features list .text {
  color: #757575;
}

/* Type of work */

/*  */
