:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #2f303a;
}
body {
  background-color: #ffffff;
}

.logo {
  color: #000000;
}

.list {
  list-style: none;
}

/*  Site nav */
.site-nav a {
  color: #212121;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--white-color);
}

/*  Button */
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Features */
.features list .title {
  color: #212121;
}

.features list .text {
  color: var(--text-color);
}

/* Type of work */

/* Стили для index.html */
/* Стили для portfolio.html*/
