:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #2f303a;
}
body {
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-text {
  color: var(--accent-color);
}

/* Site nav */
.site-nav a {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* Link */
.link {
}

/*  Button */
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Features */
.features list .title {
  color: #212121;
}

.features list .text {
  color: var(--text-color);
}

/* Type of work */

/* Стили для index.html */

/* Hero */
.hero-title {
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

/* Стили для portfolio.html*/
